@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.Extensions.Configuration.IConfiguration config
@{
    int rol = (HttpContextAccessor.HttpContext.Session.GetString("IDrol") == null ? 0 : (int)HttpContextAccessor.HttpContext.Session.GetInt32("IDrol"));
}
@model IEnumerable<FerreteriaFide.Domain.Models.Producto>
@{
    ViewBag.Title = "Productos";
    ViewBag.pTitle = "Productos";
    ViewBag.pageTitle = "Ferreteria Fide";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- jquery.vectormap css -->
<link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />



<h4 class="card-title mb-4">Productos Registrados</h4>

<div class="table-responsive">
    <table class="table table-centered datatable dt-responsive nowrap" data-bs-page-length="5" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead class="table-light">
            <tr>
                
                <th>ID producto</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Marca</th>
                <th>Provedor</th>
                <th>Precio</th>
                <th>Cantidad</th>
                @if (rol == 1 | rol == 2)
                    {
                <th>Accion</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.IdProducto)
                    </td>

                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.marca.Nombre)
                    </td>
                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.proveedor.Nombre)
                    </td>
                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @*Cedula*@
                        @Html.DisplayFor(modelItem => item.CantidadDisponible)
                       
                    </td>
                    @if (rol == 1 | rol == 2)
                    {
                <td id="tooltip-container1">
                        <a asp-action="Edit" class="me-3 text-primary" asp-route-id="@item.IdProducto" data-bs-container="#tooltip-container9" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                        <a asp-action="Delete" class="text-danger" asp-route-id="@item.IdProducto" data-bs-container="#tooltip-container9" formmethod="post" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                </td>
                 }
            </tr>
            }
        </tbody>
    </table>
</div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- jquery.vectormap map -->
<script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="~/assets/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
