@model FerreteriaFide.Domain.Models.Usuarios
@{
    ViewBag.Title = "Editar Usuarios";
    ViewBag.pTitle = "Editar Usuarios";
    ViewBag.pageTitle = "Ferreteria Fide";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/animate.css">
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
@*<link rel="stylesheet" href="~/assets/css/aos.css">*@
<link rel="stylesheet" href="~/assets/css/ionicons.min.css">
<link rel="stylesheet" href="~/assets/css/icons.min.css">
<link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/assets/css/jquery.timepicker.css">
<link rel="stylesheet" href="~/assets/css/flaticon.css">
<link rel="stylesheet" href="~/assets/css/icomoon.css">
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/app.min.css">
<link rel="stylesheet" href="~/assets/css/style.css">

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">


                <form class="custom-validation" action="#">
                    <input type="hidden" asp-for="Cedula" />
                    <div class="mb-3">
                        <label> Nombre</label>
                        @Html.TextBoxFor(u =>u.Nombre, new {@class = "form-control", placeholder = "Digite el nombre del usuario" })
                    </div>
                    <div class="mb-3">
                        <label>Contraseña</label>
                        <div>
                            @Html.PasswordFor(u => u.Clave, new {@class = "form-control", placeholder = "Digite la contraseña"})
                        </div>
                    </div>


                    <div class="mb-3">
                        <label>Email</label>
                        <div>
                            @Html.TextBoxFor(u => u.Email, new {@class = "form-control", placeholder = "Digitar el correo electronico del usuario" })
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Telefono</label>
                        <div>
                            @Html.TextBoxFor(u => u.Telefono, new {@class = "form-control", placeholder = "Digitar el numero telefonico ",type="number" })
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Rol</label>
                        <div>
                            @Html.TextBoxFor(u => u.roles.IdRol, new {@class = "form-control", placeholder = "Digitar el numero del rol del usuario ",type="number" })
                        </div>
                    </div>

                    <div class="mb-0">
                        <div>
                            <button type="submit" formaction=@Url.Action("UpdateUsuarios","Usuarios") formmethod="post" class="btn btn-primary waves-effect waves-light me-1">
                                Registrar
                            </button>
                            <a asp-action="Index">Regresar a la lista de los usuarios</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>

<script src="~/assets/js/pages/form-validation.init.js"></script>

<script src="~/assets/js/app.js"></script>
